<!-- Feature Kısmı -->
@model List<ResultFeatureDto>
<section class="features-1">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <div class="box-feature">
                        <span class="flaticon-house"></span>
                        <h3 class="mb-3">@item.AboutTitle1</h3>
                        <p>
                           @item.AboutDescription1
                        </p>
                        <p><a href="#" class="learn-more">Learn More</a></p>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="500">
                    <div class="box-feature">
                        <span class="flaticon-building"></span>
                        <h3 class="mb-3">@item.AboutTitle2</h3>
                        <p>
                            @item.AboutDescription2
                        </p>
                        <p><a href="#" class="learn-more">Learn More</a></p>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <div class="box-feature">
                        <span class="flaticon-house-3"></span>
                        <h3 class="mb-3">@item.AboutTitle3</h3>
                        <p>
                            @item.AboutDescription3
                        </p>
                        <p><a href="#" class="learn-more">Learn More</a></p>
                    </div>
                </div>
                <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                    <div class="box-feature">
                        <span class="flaticon-house-1"></span>
                        <h3 class="mb-3">@item.AboutTitle4</h3>
                        <p>
                            @item.AboutDescription4
                        </p>
                        <p><a href="#" class="learn-more">Learn More</a></p>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>